body{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-image: url('https://images.hdqwalls.com/wallpapers/rick-and-morty-in-another-dimension-illustration-6c.jpg');
}
